@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

img,
button,
iframe,
a {
    user-select: none;
}

.fadeIn {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:user-invalid {
    border: 1.5px solid rgba(255, 0, 0, 0.416);
}

.glass {
    background: rgba(255, 255, 255, 0.562);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(/docs/assets/images/Untitled\ design\ \(3\).png) no-repeat center center;
    background-size: cover;
}
.banner2 {
    background: linear-gradient(rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.808)),
        url(https://images.unsplash.com/photo-1527192491265-7e15c55b1ed2?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

}

.authBg {
    background: linear-gradient(rgba(0, 0, 0, 0.655), rgba(0, 0, 0, 0.664)),
        url(https://plus.unsplash.com/premium_photo-1683880731792-39c07ceea617?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat center center;
    background-size: cover;
}

.contactBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.655), rgba(0, 0, 0, 0.664)),
        url(https://images.pexels.com/photos/8867431/pexels-photo-8867431.jpeg?_gl=1*1dfc3o0*_ga*MTU1MTYyMjc1NC4xNzUyMDQ1MzM5*_ga_8JE65Q40S6*czE3NTQ1MjgxNTYkbzI1JGcxJHQxNzU0NTI4MjMwJGo1OSRsMCRoMA..) no-repeat center center;
    background-size: cover;
}

.aboutBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.655), rgba(0, 0, 0, 0.664)),
        url(https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg?_gl=1*xdbsww*_ga*MTU1MTYyMjc1NC4xNzUyMDQ1MzM5*_ga_8JE65Q40S6*czE3NTQ1MjgxNTYkbzI1JGcxJHQxNzU0NTI5NzcyJGo1OSRsMCRoMA..) no-repeat center center;
    background-size: cover;
}

.resourseBanner {
    background: linear-gradient(rgba(0, 0, 0, 0.655), rgba(0, 0, 0, 0.664)),
        url(https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?_gl=1*1b427ap*_ga*MTU1MTYyMjc1NC4xNzUyMDQ1MzM5*_ga_8JE65Q40S6*czE3NTQ1NTg4NDQkbzI2JGcxJHQxNzU0NTU4OTI3JGo1OSRsMCRoMA..) no-repeat center center;
    background-size: cover;
}